@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  font-family: 'Poppins';
}
.maX-width {
    max-width: 1400px;
    margin: 0 auto;
}


@layer base {
  :root{
    /* --primary-font-color:#760AA8; */
    --primary-font-color:yellow;
    --secondary-font-color:black;
    --tertiary-font-color:blue;
    --quaternary-font-color:red;

    --primary-bg-color:green;

  }
}